<table id="main">
<tr>
<td id="activity" valign="top">
  <div class="activity-cell activity-header">
    <div class="activity-panel" style="margin-left: 20%;width: 77%;">
      <div class="activity-user-pic">
        Activity
      </div>
      <div class="activity-info" style="float: right;">
        <a href="#"> View All...</a>
      </div>
    </div>
  </div>
  <div class="activity-cell">
    <div class="activity-panel">
      <div class="activity-user-pic">
        <img src="rails.png" width="30" height="30">
      </div>
      <div class="activity-info">
        Fully outlined commented <br />
        May 25, 2013 at 8:15am
      </div>
    </div>
  </div>
  <div class="activity-cell">
    <div class="activity-panel">
      <div class="activity-user-pic">
        <img src="rails.png" width="30" height="30">
      </div>
      <div class="activity-info">
        Fully outlined commented <br />
        May 25, 2013 at 8:15am
      </div>
    </div>
  </div>
  <div class="activity-cell">
    <div class="activity-panel">
      <div class="activity-user-pic">
        <img src="rails.png" width="30" height="30">
      </div>
      <div class="activity-info">
        Fully outlined commented <br />
        May 25, 2013 at 8:15am
      </div>
    </div>
  </div>
  <div class="activity-cell">
    <div class="activity-panel">
      <div class="activity-user-pic">
        <img src="rails.png" width="30" height="30">
      </div>
      <div class="activity-info">
        Fully outlined commented <br />
        May 25, 2013 at 8:15am
      </div>
    </div>
  </div>
</td>
<td id="content" valign="top">
<table width="100%">
<tr>
  <td id="top-bar">
    <input type="button" value="New Task" class="task-btn"/>
    <div class="search-panel"><input type="text" class="search-task search-sub-task search-task-txt"/></div>
    <select class="filter-select">
      <option>To Do</option>
      <option>Doing</option>
      <option>Complete</option>
    </select>
  </td>
</tr>
<tr>
  <td id="navigation-bar">
    <select class="date">
      <option>Date Picker</option>
    </select>
    <span style="border-left: 1px solid #000000"><a href="#">&#9664;</a></span>
    <span><a href="#">1</a></span>
    <span><a href="#">2</a></span>
    <span><a href="#">3</a></span>
    <span class="selected"><a href="#">4</a></span>
    <span><a href="#">5</a></span>
    <span><a href="#">6</a></span>
    <span><a href="#">7</a></span>
    <span><a href="#">8</a></span>
    <span><a href="#">9</a></span>
    <span><a href="#">10</a></span>
    <span><a href="#">&#9654;</a></span>
  </td>
</tr>
<tr>
<td align="center" id="task-panel">

<div class="task">
  <div class="task-title">
    <div class="task-title-text">Hircle Dashboard</div>
    <div class="task-options">&#9660;</div>
    <div style="clear: both;"></div>
    <div class="task-date">26 May</div>
  </div>
  <div class="task-title">
    <table>
      <tr>
        <td>Start Tracking</td>
        <td>Today</td>
        <td>Yesterday</td>
        <td>Total</td>
      </tr>
      <tr>
        <td>00:00:00</td>
        <td>23.59h</td>
        <td>23.59h</td>
        <td>23.59h</td>
      </tr>
    </table>
  </div>


  <div class="sub-task-panel">
    <div class="sub-task">
      <div class="priority">&#9701;</div>
      <div class="sub-task-title">Design</div>
      <div class="sub-task-date">26 May</div>
    </div>
  </div>
  <div class="sub-task-panel">
    <div class="sub-task">
      <div class="priority">&#9701;</div>
      <div class="sub-task-title">Design</div>
      <div class="sub-task-date">26 May</div>
    </div>
  </div>
  <div class="sub-task-panel">
    <div class="sub-task">
      <div class="priority">&#9701;</div>
      <div class="sub-task-title">Design Revesion</div>
      <div class="sub-task-date">26 May</div>
    </div>
  </div>
  <div class="task-activity">
    <div class="task-activity-text">3 activites</div>
    <div class="task-activity-action">-</div>
  </div>
  <div class="activity-panel">
    <div class="activity-user-pic">
      <img src="rails.png" width="30" height="30">
    </div>
    <div class="activity-info">
      <span class="activity-info-title">Fully outlined commented on Dee..</span> <br />
      <span class="activity-info-date">May 25, 2013 at 8:15am</span>
    </div>
  </div>
  <div class="activity-panel">
    <div class="activity-user-pic">
      <img src="rails.png" width="30" height="30">
    </div>
    <div class="activity-info">
      <span class="activity-info-title">Fully outlined commented on Dee..</span> <br />
      <span class="activity-info-date">May 25, 2013 at 8:15am</span>
    </div>
  </div>
  <div class="activity-panel">
    <div class="activity-user-pic">
      <img src="rails.png" width="30" height="30">
    </div>
    <div class="activity-info">
      <span class="activity-info-title">Fully outlined commented on Dee..</span> <br />
      <span class="activity-info-date">May 25, 2013 at 8:15am</span>
    </div>
  </div>
</div>
<div class="task">
  <div class="task-title">
    <div class="task-title-text">Hircle Dashboard</div>
    <div class="task-options">&#9660;</div>
    <div style="clear: both;"></div>
    <div class="task-date">26 May</div>
  </div>
  <div class="task-title">
    <table>
      <tr>
        <td>Start Tracking</td>
        <td>Today</td>
        <td>Yesterday</td>
        <td>Total</td>
      </tr>
      <tr>
        <td>00:00:00</td>
        <td>23.59h</td>
        <td>23.59h</td>
        <td>23.59h</td>
      </tr>
    </table>
  </div>


  <div class="sub-task-panel">
    <div class="sub-task">
      <div class="sub-task-title">Design</div>
      <div class="sub-task-date">26 May</div>
    </div>
  </div>
  <div class="sub-task-panel">
    <div class="sub-task">
      <div class="sub-task-title">Design</div>
      <div class="sub-task-date">26 May</div>
    </div>
  </div>
  <div class="sub-task-panel">
    <div class="sub-task">
      <div class="sub-task-title">Design Revesion</div>
      <div class="sub-task-date">26 May</div>
    </div>
  </div>
  <div class="task-activity">
    <div class="task-activity-text">3 activites</div>
    <div class="task-activity-action">-</div>
  </div>
  <div class="activity-panel">
    <div class="activity-user-pic">
      <img src="rails.png" width="30" height="30">
    </div>
    <div class="activity-info">
      <span class="activity-info-title">Fully outlined commented on Dee..</span> <br />
      <span class="activity-info-date">May 25, 2013 at 8:15am</span>
    </div>
  </div>
  <div class="activity-panel">
    <div class="activity-user-pic">
      <img src="rails.png" width="30" height="30">
    </div>
    <div class="activity-info">
      <span class="activity-info-title">Fully outlined commented on Dee..</span> <br />
      <span class="activity-info-date">May 25, 2013 at 8:15am</span>
    </div>
  </div>
  <div class="activity-panel">
    <div class="activity-user-pic">
      <img src="rails.png" width="30" height="30">
    </div>
    <div class="activity-info">
      <span class="activity-info-title">Fully outlined commented on Dee..</span> <br />
      <span class="activity-info-date">May 25, 2013 at 8:15am</span>
    </div>
  </div>
</div>
<div class="task">
  <div class="task-title">
    <div class="task-title-text">Hircle Dashboard</div>
    <div class="task-options">&#9660;</div>
    <div style="clear: both;"></div>
    <div class="task-date">26 May</div>
  </div>
  <div class="task-title">
    <table>
      <tr>
        <td>Start Tracking</td>
        <td>Today</td>
        <td>Yesterday</td>
        <td>Total</td>
      </tr>
      <tr>
        <td>00:00:00</td>
        <td>23.59h</td>
        <td>23.59h</td>
        <td>23.59h</td>
      </tr>
    </table>
  </div>


  <div class="sub-task-panel">
    <div class="sub-task">
      <div class="sub-task-title">Design</div>
      <div class="sub-task-date">26 May</div>
    </div>
  </div>
  <div class="sub-task-panel">
    <div class="sub-task">
      <div class="sub-task-title">Design</div>
      <div class="sub-task-date">26 May</div>
    </div>
  </div>
  <div class="sub-task-panel">
    <div class="sub-task">
      <div class="sub-task-title">Design Revesion</div>
      <div class="sub-task-date">26 May</div>
    </div>
  </div>
  <div class="task-activity">
    <div class="task-activity-text">3 activites</div>
    <div class="task-activity-action">-</div>
  </div>
  <div class="activity-panel">
    <div class="activity-user-pic">
      <img src="rails.png" width="30" height="30">
    </div>
    <div class="activity-info">
      <span class="activity-info-title">Fully outlined commented on Dee..</span> <br />
      <span class="activity-info-date">May 25, 2013 at 8:15am</span>
    </div>
  </div>
  <div class="activity-panel">
    <div class="activity-user-pic">
      <img src="rails.png" width="30" height="30">
    </div>
    <div class="activity-info">
      <span class="activity-info-title">Fully outlined commented on Dee..</span> <br />
      <span class="activity-info-date">May 25, 2013 at 8:15am</span>
    </div>
  </div>
  <div class="activity-panel">
    <div class="activity-user-pic">
      <img src="rails.png" width="30" height="30">
    </div>
    <div class="activity-info">
      <span class="activity-info-title">Fully outlined commented on Dee..</span> <br />
      <span class="activity-info-date">May 25, 2013 at 8:15am</span>
    </div>
  </div>
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>