/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "tagit-dark-grey.css";
* {
    margin: 0;
    padding: 0;
}

table#main {
    width: 100%;
    float: left;
}

table tr td#activity {
    width: 23%;
    background: #f8f8f8;
    min-width: 250px;
}

table tr td#content {
    width: 77%;
}

#top-bar {
    /*height: 65px;*/
    background: #c2c9d6;
    padding: 8px 0;
}

#navigation-bar {
    height: 42px;
    background: #e4e5e9;
    min-width: 550px;
}

#navigation-bar span {
    color: #ffffff;
    display: inline-block;
    width: 4%;
    text-align: center;
    padding: 10px 1%;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    float: left;
}

#navigation-bar span a {
    text-decoration: none;
    color: #000;
}

#navigation-bar span.selected {
    background: #6fa8dc;
}

.task-title, .task {
    width: 100%;
}

.task-title {
    background: #f4f5f9;
    height: 40px;
    color: #000000;
    border-bottom: 1px solid #CCCCCC;
}

.task-activity {
    background: #f4f5f9;
    color: #747474;
    float: left;
    width: 95%;
    padding: 7px;
}

.task {
    padding: 5px 5px 5px 0;
    float: left;
    background: #ecf0f3;
    width: 32%;
    min-width: 300px;
}
#task-panel {
    background: #ecf0f3;
    padding-top: 10px;
}

.task span {
    padding: 7px 0 0 10px;
    float: left;
}

.sub-task {
    background: #ffffff;
    width: 95%;
    margin-top: 2px;
    height: 28px;
    cursor: pointer;
    padding: 7px;
    color: #6fa8dc;
}

.sub-task-panel {
    background: #e1e2e6;
}

.task-btn, .search-task, .search-sub-task, .filter-select {
    height: 30px;
}
.search-task-txt {
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid white;
    padding-left: 10px;
    min-width: 100px;
}

.search-panel {
    float: left;
    width: 74%;
    margin-left: 2%;
    min-width: 300px;
}

.task-btn {
    width: 10%;
    margin-left: 2%;
    min-width: 67px;
    float: left;
}

.search-task, .search-sub-task {
    width: 60%;
    margin-left: 5%;
}

.filter-select {
    width: 10%;
    float: right;
    margin-right: 2%;
    min-width: 67px;
}

.date {
    margin: 0 2% 0 2%;
    float: left;
}

header {
    width: 100%;
    background: #000000;
    height: 55px;
    min-width: 600px;
    float: left;
}

#logo {
    float: left;
    min-width: 150px;
}

#user {
    float: right;
    min-width: 450px;
}

#user ul {
    list-style: none
}

#user ul li, #user ul span {
    color: #FFFFFF;
    float: right;
    height: 27px;
    margin-top: 9px;
    padding: 7px 7px 0 0;
}

#user ul li a {
    color: #ffffff;
    text-decoration: none;
}

#notifications {
    background: #6fa8dc;
    margin-right: 10px;
}

.circle {
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #FFFFFF;
    width: 21px;
    float: left;
    margin-left: 3px;
    color: #000000;
    height: 21px;
}

#notification-text {
    float: left;
    margin-left: 3px;
}

.number {
    color: #000000 !important;
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 12px;
}

li.userinfo span {
    padding: 0 !important;
    margin: 0 !important;
}

li.userinfo span img {
    margin-right: 3px !important;
}

.activity-cell {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #000000;
    padding-top: 10px;
}
.activity-panel {margin: 9px 0 0 10%;float: left;}
.activity-user-pic {float: left;}
.activity-info {float: left;margin-left: 3px; font-size: 12px;text-align: left}
.task-title-text {float: left;margin: 3px 0 0 3px}
.task-options {
    float: right;
    margin: 3px 3px 0 0;
}
.task-date{color: #959595;font-size: 12px;float: left;margin-left: 3px;}
.task-title table{
    font-size: 12px;
    width: 100%;
    color: #959595;
}
.sub-task-title {float: left;color: #959595}
.sub-task-date {float: right; color: #959595}
.task-activity-text {float: left;}
.task-activity-action{float: right;}
.task .activity-panel {margin: 9px 0 0 2%}
span.activity-info-title, span.activity-info-date {margin: 0; ;padding: 0;}
span.activity-info-title{ color: #8b8c8d}
span.activity-info-date{color: #cececf}
.priority {
    float: right;
    left: 7px;
    position: relative;
    right: 0;
    top: -12px;
    color: red;
}