<!DOCTYPE html>
<html>
<head>
  <title>Hircle</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="modal" style="display:none;">
  <p>Sub task details here  <a href="#" rel="modal:close">Close</a> or press ESC</p>
</div>

<header>
  <div id="logo">
    <img src="logo_hircle.png"/>
  </div>
  <div id="user">
    <ul>
      <% if user_signed_in? %>
          <li class="userinfo">
            <span><%= link_to "Logout", destroy_user_session_url, :method => :delete %></span>
          </li>
          <span>|</span>
          <li class="userinfo">
            <span><%= current_user.email %></span>
            <span><img src="rails.png" width="20" height="20"></span>
          </li>
          <span>|</span>
          <li id="notifications">
            <div class="circle"><span class="number">10</span></div>
            <div id="notification-text">Notifications</div>
          </li>
      <% else %>
          <li class="userinfo">
            <span><%= link_to "Sign In", new_user_session_url %></span>
          </li>
          <span>|</span>
          <li class="userinfo">
            <span><%= link_to "Sign Up", new_user_registration_url %></span>
          </li>
      <% end %>
    </ul>
  </div>
</header>

<p class="notice"><%= notice %></p>

<p class="alert"><%= alert %></p>

<%= yield %>


</body>
</html>

